<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Tizimga kirish</h3>
        <input type="text"
               name="inn"
               id="inn"
               placeholder="INN kiriting"
               class="input" />
        <input type="password"
               name="password"
               id="password"
               placeholder="Parol kiriting" />
        <button type="button" class="btn btn-secondary btn-lg">Kirish</button>
        <a href="#">Ro'yxatdan o'tish</a>
    </div>
</body>
</html>