@model e_Shopping.Services.DTOs.Client.ClientForCreationDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/reg.css" rel="stylesheet"/>
    <title>Index</title>
</head>
<body>

<h2>Ro`yhatdan o`tish</h2>
<hr />
<div class="row container" >
    <div class="col-md-4" >
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="INN" class="form-control" placeholder="INN" />
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
            <div class="form-group radio-status">
                @Html.RadioButtonFor(model => model.Status, "Yuridik", false)@Html.Label("Yuridik")
                @Html.RadioButtonFor(model => model.Status, "Jismoniy", false)@Html.Label("Jismoniy")
            </div>
            <div class="form-group">
                <input asp-for="Phone" class="form-control" placeholder="Phone"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Andijon",
                        Value = "Andijon"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Buxoro",
                        Value = "Buxoro",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Jizzax",
                        Value = "Jizzax",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Xorazm",
                        Value = "Xorazm",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Namangan",
                        Value = "Namangan",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Navoiy",
                        Value = "Navoiy",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Qashqadaryo",
                        Value = "Qashqadaryo",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Qoraqalpog'iston",
                        Value = "Qoraqalpog'iston",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Samarqand",
                        Value = "Samarqand",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Sirdaryo",
                        Value = "Sirdaryo",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Farg'ona",
                        Value = "Farg'ona"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Surxondaryo",
                        Value = "Surxondaryo"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Toshkent viloyati",
                        Value = "Toshkent viloyati"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Toshkent shahri",
                        Value = "Toshkent shahri"
                    });

                }

                @Html.DropDownListFor(model => model.Region, listItems, "-- Viloyatni tanlang --")
            </div>
            <div class="form-group">
                <input asp-for="Address" class="form-control" placeholder="Address"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password", type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
