body {
    display:flex !important;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.form-group, select {
    width: 300px;
    justify-content: center;
    align-content: center;
    margin: 10px 0px 10px 0px;
}
select {
    padding: 7px;
    border-radius: 5px;
    border-color: #ced4da;
}
.btn btn-primary {
    justify-content: center;
    align-content: center;
}
