body {
    display:flex !important;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.form-group {
    width: 300px;
    justify-content: center;
    align-content:center;
}
.btn btn-primary {
    justify-content: center;
    align-content: center;
}
